header {
    margin-top: 20px;
    background-color: white;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    padding: 0;
}
img {
    /* height: 100px; */
    width: 100%;
    /* display: inline-block; */
}
a {
    text-decoration: none;
    color: #888888;
}
.col2_5 {
    width: 35%;
    display: inline-block;
}
.col3_5 {
    width: 55%;
    display: inline-block;
    margin: auto;
    height: 100%;
}
.container {
    align-items: center;
    justify-content: center;
    display: flex;
}
.headerLink {
    margin: 7%;
    font-size: 100%;
}