.h3 {
    padding-top: 7%;
    margin: 0;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
.downloadBtn {
    width: 30%;
    font-size: 130%;
    border: none;
    height: 40px;
    background-color: #0a4975;
    color: white;
    /* vertical-align: bottom; */
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-left: 30px;
}